.contact_banner_bg{
    background: url(https://i.ibb.co/0JBMbBJ/banner.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    height: 70vh;
    position: relative;
    z-index: 1;
}

.contact_banner_bg::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #2e2e53;
    opacity: .4;
    z-index: -1
}